{% extends 'base.html.twig' %}
{% block body %}
    <div class="avisContainer">
        <figure class="detailImg">
            <img src="{{asset(article.image)}}" alt="">
        </figure>
        <div class="commentaireContainer">
            {% if edit %}
                <h1>Modifier</h1> 
            {% else %}
                <h1>Quelle note donneriez-vous à cette article ?</h1>
                <h4>vous serez le {{ nb }} avis de cette article</h4>
            {% endif %}
            {{ form_start(form) }}
                <div class="star">
                    <i class="fa-regular fa-star" style="color: #EAC696;" data-value="1"></i>
                    <i class="fa-regular fa-star" style="color: #EAC696;" data-value="2"></i>
                    <i class="fa-regular fa-star" style="color: #EAC696;" data-value="3"></i>
                    <i class="fa-regular fa-star" style="color: #EAC696;" data-value="4"></i>
                    <i class="fa-regular fa-star" style="color: #EAC696;" data-value="5"></i>
                    <input type="hidden" name="note" id="note" value="0">
                    <input type="hidden" id="idArticle" value="{{ article.id }}">
                </div>
                <div class="commentaireDiv">
                    <label>Commentaire</label>
                    {{ form_widget(form.commentaire) }}
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock body %}