{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="adminContainer">
    <div class="adminSousContainer">
        <div class="addContainer">
            <a href="{{path('add_article')}}" class="addAdmin">Ajouter un article</a>
            <a href="{{path('add_origine')}}" class="addAdmin">Ajouter une origine</a>
            <a href="{{path('add_categories')}}" class="addAdmin">Ajouter une catégorie</a>
            <a href="{{path('add_facture')}}" class="addAdmin">Ajouter une facture</a>
            <a href="{{path('del_facture')}}" class="delAdmin">Supprimer une facture</a>
            <a href="{{path('del_origine')}}" class="delAdmin">Supprimer une origine</a>
            <a href="{{path('app_commande_VoirClickAndCollect')}}" class="voirClickAndCollect">Voir les commandes click an collect</a>
        </div>
        <div class="infoCommandeContainer">
            <div class="titleDescriptif">
                <h1>Commandes</h1>
            </div>
            <div class="sousInfoCommandeContainer">
                <div class="infoCommande">
                    <span>Total</span>
                    <span>{{countTotal}}</span>
                </div>
                <div class="infoCommande">
                    <span>Dernier mois</span>
                    <span> {{countMois}} </span>
                </div>
                <div class="infoCommande">
                    <span>Dernière semaine</span>
                    <span> {{countSemaine}} </span>
                </div>
                <div class="infoCommande">
                    <span>Aujourd'hui</span>
                    <span>{{countAjd}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="userContainer">
        <div class="userSousContainer">
            <div class="input-control">
                <label for="search"><i class="fa-solid fa-magnifying-glass"></i></label>
                <input type="search" name="search" id="search" placeholder="Chercher un utilisateur">
            </div>
        </div>
        <div class="card-result">
            {% for user in users %}  
                <input type="hidden" class="input-hidden" value="{{user.email}}">
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}