<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('Css/style.css')}}">
        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="nav">
                <figure class="logo">
                    <a href="{{ path('app_home')}}">
                        <img src="{{ asset('Img/logo.png')}}" alt="logo">
                    </a>
                </figure>
                <ul class="ul">
                    <li><a href="{{ path('app_categorie_cafees_moulues')}}">CAFÉES MOULUES</a></li>
                    <li><a href="{{ path('app_categorie_cafes_grains')}}">CAFÉS EN GRAINS</a></li>
                    <li><a href="{{ path('app_categorie_cafes_dossetes')}}">CAFÉS DOSSETES</a></li>
                    <li><a href="{{ path('app_categorie_cafes_capsules')}}">CAFÉS CAPSULES</a></li>
                </ul>
                <div class="connexion">
                    <a href="">CONNEXION</a>
                    <span>/</span>
                    <a href="{{ path('app_register')}}">INSCRIPTION</a>
                </div>
                <div class="cart">
                    <a href=""><i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i></a>
                </div>
            </nav>
        </header>
        {% block body %}
        {% endblock %}
        <footer class="footer">
            <a href=""><span>Confidentialité et cookies |</span></a>
            <a href=""><span>Gerer les cookies |</span></a>
            <a href=""><span>Mentions légales |</span></a>
            <a href=""><span>Nous contacter |</span></a>
            <a href=""><span>S’abonner à la newsletter</span></a>
        </footer>
        {% block javascripts %}
            <script src="{{ asset('Js/appSliders.js')}}"></script>
            <script src="https://kit.fontawesome.com/4eb7898d29.js" crossorigin="anonymous"></script>
            <script src="{{ asset('Js/appSeeMore.js')}}"></script>
            <script src="{{ asset('Js/appModal.js')}}"></script>
        {% endblock %}
    </body>
</html>