{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}
<div class="container">
    <div class="sliderContainer">
        <figure class="sliderFigure">
            <img src="{{ asset(categorie.image)}}" alt="{{categorie.libelle}}" class="slide">
        </figure>
    </div>
    <div class="cardContainer">
        <div class="cateAllBtn">
            <h2>Tout les cafés de la catégorie {{categorie.libelle}} </h2>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="btnCate">
                    <a href="{{path('edit_categories', {'id': categorie.id})}}"  class="btnEdit"><i class="fa-solid fa-gear"></i></a>
                    <a href="{{path('delete_categories', {'id': categorie.id})}}" class="btnDelete"><i class="fa-solid fa-trash"></i></a>
                </div>
            {% endif %}
        </div>
        <div class="sousCardContainerDetail">
            {% if categorie.articles is empty %}
                <h3 class="noArticle">Désolée il n'y pas d'article dans cette catégorie...</h3>
            {% endif %}
            {% for article in categorie.articles %}
                <a href="{{ path('detail_article', {'id': article.id})}}" class="cardLinkDetail">
                    <div class="card">
                        <figure class="figureCard">
                            <img src="{{ asset(article.image)}}" alt="{{ article.libelle}}">
                        </figure>
                        <h4 class="cardArticleTitle">{{ article.libelle}}</h4>
                        <h5>Fabriquer en {{ article.origine }}</h5>
                        {% for moyenne in moyennes %}
                            {# Système de vérification si c'est le bon article #}
                            {% if moyenne.article_id == article.id %}
                            {# Système d'affichage d'étoile #}
                                {% if moyenne.moyenne_note == 5 %}
                                    <div class="rating">
                                        <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                        <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                        <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                        <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                        <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                    </div>
                                {% elseif moyenne.moyenne_note >= 4 %}
                                    <div class="rating">
                                        <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                        <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                        <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                        <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                        <i class="fa-regular fa-star" style="color: #EAC696;"></i>
                                    </div>
                                {% elseif moyenne.moyenne_note >= 3 %}
                                    <div class="rating">
                                        <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                        <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                        <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                        <i class="fa-regular fa-star" style="color: #EAC696;"></i>
                                        <i class="fa-regular fa-star" style="color: #EAC696;"></i>
                                    </div>
                                {% elseif moyenne.moyenne_note >= 2 %}
                                    <div class="rating">
                                        <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                        <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                        <i class="fa-regular fa-star" style="color: #EAC696;"></i>
                                        <i class="fa-regular fa-star" style="color: #EAC696;"></i>
                                        <i class="fa-regular fa-star" style="color: #EAC696;"></i>
                                    </div>
                                {% else %}
                                    <div class="rating">
                                        <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                        <i class="fa-regular fa-star" style="color: #EAC696;"></i>
                                        <i class="fa-regular fa-star" style="color: #EAC696;"></i>
                                        <i class="fa-regular fa-star" style="color: #EAC696;"></i>
                                        <i class="fa-regular fa-star" style="color: #EAC696;"></i>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div> 
                </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
