{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<div>
    <div class="detailSousContainer">
        <figure class="detailImg">
            <img src="{{ asset(article.image)}}" alt="{{article.libelle}}">
        </figure>
        <article>
            <h1>{{article.libelle}}</h1>
            <p>{{article.description}}</p>
            <a href="">Descriptif détaillé</a>
        </article>
        <div class="achat">
            <span>{{article.prix}} €</span>
            <div>
                <span>quantité</span>
                <select name="">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
            <a href="" class="btnAddPanier btn1">Ajouter au panier</a>
        </div>
    </div>
</div>
{% endblock %}
