{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
{% for message in app.flashes('warning') %}
    <div class="alert">
        <span>{{ message }}</span>
    </div>
{% endfor %}

{{ form_start(form) }}
    {{ form_row(form.plainPassword) }} 
    {{ form_row(form.newPassword) }}     
    <button type="submit" class="btn">Inscription</button>
{{ form_end(form) }}
{% endblock %}