{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
{% for message in app.flashes('sucess') %}
<div class="sucess">
    <span>{{ message }}</span>
</div>
{% endfor %}
{% for client in clients %}
    {% if client.id == app.user.id %}
        <div class="profileContainer">
            <aside class="profileAside">
                <figure class="figureAsideProfile">
                    <img src="{{ asset('Img/boy.png')}}" alt="of an happy boy">
                </figure>
                <div class="profileInfos">
                    <div class="profileInfosTitre">
                        <h2>Information</h2>
                    </div>
                    <span>Taux de satisfaction:</span>
                    {% if moyenneSatisfaction.moyenneSatisfaction is null %}
                        <span>Vous avez mis aucune note</span>
                    {% else %}
                        {% if moyenneSatisfaction.moyenneSatisfaction == 5 %}
                            <div>
                                <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                            </div>
                        {% elseif moyenneSatisfaction.moyenneSatisfaction >= 4 %}
                            <div>
                                <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                <i class="fa-regular fa-star" style="color: #EAC696;"></i>
                            </div>
                        {% elseif moyenneSatisfaction.moyenneSatisfaction >= 3 %}
                            <div>
                                <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                <i class="fa-regular fa-star" style="color: #EAC696;"></i>
                                <i class="fa-regular fa-star" style="color: #EAC696;"></i>
                            </div>
                        {% elseif moyenneSatisfaction.moyenneSatisfaction >= 2 %}
                            <div>
                                <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                <i class="fa-regular fa-star" style="color: #EAC696;"></i>
                                <i class="fa-regular fa-star" style="color: #EAC696;"></i>
                                <i class="fa-regular fa-star" style="color: #EAC696;"></i>
                            </div>
                        {% else %}
                            <div>
                                <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                <i class="fa-regular fa-star" style="color: #EAC696;"></i>
                                <i class="fa-regular fa-star" style="color: #EAC696;"></i>
                                <i class="fa-regular fa-star" style="color: #EAC696;"></i>
                                <i class="fa-regular fa-star" style="color: #EAC696;"></i>
                            </div>
                        {% endif %}
                    {% endif %}
                    <span>Nombre de commande:</span>
                    <span>{{ client.commandes | length }}</span>
                </div>
            </aside>
            <div class="profileMain">
                <h1>Profile</h1>
                <div class="profileInfos">
                    <div class="profileInfosTitre">
                        <h2>Information personnel</h2>
                    </div>
                    <div class="profileTextArea">
                        <div class="sousProfileTextArea">
                            <textarea disabled name="" id="" cols="30" rows="1" class="textArea">{{ client.email }}</textarea>
                            {% if client.nom == null %}
                                <textarea disabled name="" id="" cols="30" rows="1" class="textArea">Nom</textarea>
                                <textarea disabled name="" id="" cols="30" rows="1" class="textArea">Prenom</textarea>
                                <textarea disabled name="" id="" cols="30" rows="1" class="textArea">Téléphone</textarea>
                            {% else %} 
                                <textarea disabled name="" id="" cols="30" rows="1" class="textArea"> {{ client.nom }} </textarea>
                                <textarea disabled name="" id="" cols="30" rows="1" class="textArea">{{ client.prenom }}</textarea> 
                                <textarea disabled name="" id="" cols="30" rows="1" class="textArea">{{ client.telephone }}</textarea>
                            {% endif %}
                            {% if client.adresses is not empty %}
                                {% for adressePrincipale in adressePrincipales %}
                                    <div class="sousProfileTextAreaAdresse">
                                        <div class="sousProfileTextAreaAdresseTitre">
                                            <h4>Adresse principale</h4>
                                        </div>
                                        <div class="textAreaAdresse">
                                            <textarea disabled name="" id="" cols="30" rows="1" class="textArea">{{ adressePrincipale.adresse }}</textarea>
                                            <div class="duoTextArea">
                                                <textarea disabled name="" id="" cols="15" rows="1" class="textAreaLittle">{{ adressePrincipale.codePostal }}</textarea>
                                                <textarea disabled name="" id="" cols="15" rows="1" class="textAreaLittle">{{ adressePrincipale.ville }}</textarea>
                                            </div> 
                                        </div>
                                    </div>
                                {% endfor %}
                                {% for adresseSecondaire in adresseSecondaires %}
                                    <div class="sousProfileTextAreaAdresseNone none">
                                        <div class="sousProfileTextAreaAdresseTitre">
                                            <h4>Adresse</h4>
                                        </div>
                                        <div class="textAreaAdresse">
                                            <textarea disabled name="" id="" cols="30" rows="1" class="textArea">{{ adresseSecondaire.adresse }}</textarea>
                                            <div class="duoTextArea">
                                                <textarea disabled name="" id="" cols="15" rows="1" class="textAreaLittle">{{ adresseSecondaire.codePostal }}</textarea>
                                                <textarea disabled name="" id="" cols="15" rows="1" class="textAreaLittle">{{ adresseSecondaire.ville }}</textarea>
                                            </div> 
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                    <div class="sousProfileTextAreaAdresse">
                                        <div class="sousProfileTextAreaAdresseTitre">
                                            <h4>Adresse principale</h4>
                                        </div>
                                        <div class="textAreaAdresse">  
                                            <textarea disabled name="" id="" cols="30" rows="1" class="textArea">Adresse</textarea>
                                            <div class="duoTextArea">
                                                <textarea disabled name="" id="" cols="15" rows="1" class="textAreaLittle">Code postale</textarea>
                                                <textarea disabled name="" id="" cols="15" rows="1" class="textAreaLittle">Ville</textarea>
                                            </div> 
                                        </div>
                                    </div>
                            {% endif %}
                            <button class="boutonAdresse" id="bouton">Voir la liste des adresses</button>
                        </div>
                        <aside class="asideBtnEdit">
                            <a href="" class="btnEdit"><i class="fa-solid fa-gear"></i></a>
                        </aside>
                    </div>
                </div>
                <a href="{{path('edit_password_user')}}" class="btnMdp">Changer de mot de passe</a>
                <a href="{{path('delete_user')}}" class="btnDel">Supprimer votre compte</a>
            </div>
        </div>
    {% endif %}
{% endfor %}
{% endblock %}
