{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
{% for client in clients %}
    {% if client.id == app.user.id %}
        <div class="profileContainer">
            <aside class="profileAside">
                <figure class="figureAsideProfile">
                    <img src="{{ asset('Img/boy.png')}}" alt="of an happy boy">
                </figure>
                <div class="profileInfos">
                    <div class="profileInfosTitre">
                        <h2>Information</h2>
                    </div>
                    <span>Taux de satisfaction:</span>
                    {% if moyenneSatisfaction.moyenneSatisfaction is null %}
                        <span>Vous avez mis aucune note</span>
                    {% else %}
                        {% if moyenneSatisfaction.moyenneSatisfaction == 5 %}
                            <div>
                                <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                            </div>
                        {% elseif moyenneSatisfaction.moyenneSatisfaction >= 4 %}
                            <div>
                                <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                <i class="fa-regular fa-star" style="color: #EAC696;"></i>
                            </div>
                        {% elseif moyenneSatisfaction.moyenneSatisfaction >= 3 %}
                            <div>
                                <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                <i class="fa-regular fa-star" style="color: #EAC696;"></i>
                                <i class="fa-regular fa-star" style="color: #EAC696;"></i>
                            </div>
                        {% elseif moyenneSatisfaction.moyenneSatisfaction >= 2 %}
                            <div>
                                <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                <i class="fa-regular fa-star" style="color: #EAC696;"></i>
                                <i class="fa-regular fa-star" style="color: #EAC696;"></i>
                                <i class="fa-regular fa-star" style="color: #EAC696;"></i>
                            </div>
                        {% else %}
                            <div>
                                <i class="fa-solid fa-star" style="color: #EAC696;"></i>
                                <i class="fa-regular fa-star" style="color: #EAC696;"></i>
                                <i class="fa-regular fa-star" style="color: #EAC696;"></i>
                                <i class="fa-regular fa-star" style="color: #EAC696;"></i>
                                <i class="fa-regular fa-star" style="color: #EAC696;"></i>
                            </div>
                        {% endif %}
                    {% endif %}
                    <span>Nombre de commande:</span>
                    <span>{{ client.commandes | length }}</span>
                    <span>Argent dépensé:</span>
                    <span>{{totalDepenser}} €</span>
                </div>
            </aside>
            <div class="profileMain">
                <h1>Profile</h1>
                <div class="profileInfos">
                    <div class="profileInfosTitre">
                        <h2>Information personnel</h2>
                    </div>
                    <div class="profileTextArea">
                        <div class="sousProfileTextArea">
                            <textarea disabled name="" id="" cols="30" rows="1" class="textArea">{{ client.email }}</textarea>
                            {% if client.commandes is not empty %}
                                {% for commande in client.commandes %}
                                    <textarea disabled name="" id="" cols="30" rows="1" class="textArea"> {{ commande.nom }} </textarea>
                                    <textarea disabled name="" id="" cols="30" rows="1" class="textArea">{{ commande.prenom }}</textarea>
                                {% endfor %}
                            {% else %}
                                <textarea disabled name="" id="" cols="30" rows="1" class="textArea">Nom</textarea>
                                <textarea disabled name="" id="" cols="30" rows="1" class="textArea">Prenom</textarea>
                            {% endif %}
                            <div class="sousProfileTextAreaAdresse">
                                <div class="sousProfileTextAreaAdresseTitre">
                                    <h4>Adresse principale</h4>
                                </div>
                                <div class="textAreaAdresse">        
                                    <textarea disabled name="" id="" cols="30" rows="1" class="textArea">Adresse</textarea>
                                    <div class="duoTextArea">
                                        <textarea disabled name="" id="" cols="15" rows="1" class="textAreaLittle">Code postale</textarea>
                                        <textarea disabled name="" id="" cols="15" rows="1" class="textAreaLittle">Ville</textarea>
                                    </div>
                                </div>
                            </div>
                            <button class="boutonAdresse">Voir la liste des adresses</button>
                        </div>
                        <aside class="asideBtnEdit">
                            <a href="" class="btnEdit"><i class="fa-solid fa-gear"></i></a>
                        </aside>
                    </div>
                </div>
                <a href="{{path('edit_password_user')}}" class="btnMdp">Changer de mot de passe</a>
                <a href="" class="btnAdresse">Ajouter une adresse</a>
                <a href="" class="btnDel">Supprimer votre compte</a>
            </div>
        </div>
    {% endif %}
{% endfor %}
{% endblock %}
